@page "/"
@inject IStringLocalizer<Resource> _Localizer
<PageTitle>@_Localizer["Home"]</PageTitle>
<div class="text-center mb-5">
    <h1 class="display-4">@_Localizer["HomeTitle"]</h1>
    <p class="lead">
        @_Localizer["HomeDescription"]
    </p>
    <a class="btn btn-outline-secondary btn-lg ms-2" href="/reports">@_Localizer["ViewReports"]</a>
</div>

<div class="row text-center">
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">@_Localizer["FireIncidentsTitle"]</h5>
                <p class="card-text">@_Localizer["FireIncidentsDescription"]</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">@_Localizer["AssaultSafetyTitle"]</h5>
                <p class="card-text">@_Localizer["AssaultSafetyDescription"]</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">@_Localizer["OtherIncidentsTitle"]</h5>
                <p class="card-text">@_Localizer["OtherIncidentsDescription"]</p>
            </div>
        </div>
    </div>
</div>


